<p id="notice"><%= notice %></p>

<h1>Listing Object Releases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @object_releases.each do |object_release| %>
      <tr>
        <td><%= link_to 'Show', object_release %></td>
        <td><%= link_to 'Edit', edit_object_release_path(object_release) %></td>
        <td><%= link_to 'Destroy', object_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Object release', new_object_release_path %>
